/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 580px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.site-content {
    display: flex;
    flex: 1;
    min-height: 500px;
    overflow-y: auto;
}

footer {
    height: 38px;
    width: 100%;
    text-align: center;
    line-height: 38px;
    border-top: 1px solid #eee;
}

.content-wrapper {
    max-width: 1200px;
    margin: auto;
}

.site-content > .content-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
    background-color: #fff;
    max-height: 620px;
    overflow: hidden;
}

.pure-g [class *= "pure-u"] {
  font-family: 'Century Gothic', sans-serif;
  letter-spacing: normal;
}

.product-branding {
    height: 55px;
    padding-top: 15px;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.product-name,
.product-name a {
    float: left;
    position: relative;
    top: -3px;
    font-family: 'Century Gothic', sans-serif;
    font-size: 2em;
    padding-left: 0.3em;
    font-variant: small-caps;
}

.product-logo {
    float: left;
    padding-left: 1.2em;
    width: 36px;
    height: 36px;
}

.button {
    color: #fff !important;
    background-color: #2a3333 !important;
    border: 0;
    width: inherit !important;
}

.download-form .button {
    display: inline-block !important;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.6;
    padding: 14px 22px;
}

.download-form {
    display: inline;
}

.small-caps {
    font-variant: small-caps;
}

#doorbell-container a {
    color: #848484;
}

.container img {
    position: relative;
}

#screenshot {
    box-shadow: 8px 8px 40px 1px #ccc;
}

#screenshot-visualization {
    top: -498px;
}

#screenshot-levels {
    position: relative;
    max-width: 50px;
    overflow: hidden;
    top: -493px;
    left: 457px;
}

#screenshot-levels img {
    right: 62px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media screen and (min-width: 1em) {
    .site-content > .content-wrapper {
        max-height: 1030px;
    }
}


@media screen and (min-width: 35.5em) {
    .site-content > .content-wrapper {
        max-height: 1030px;
    }
}

@media screen and (min-width: 48em) {
    .site-content > .content-wrapper {
        max-height: 1030px;
    }
}


@media screen and (min-width: 64em) {
    .site-content > .content-wrapper {
        max-height: 1030px;
    }
}

@media screen and (min-width: 80em) {
    .site-content > .content-wrapper {
        max-height: 620px;
    }
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}